
body {
	background-color: black;
	background-size: 100%;
	font-family: 'Titan One', cursive;
}

p {
	color: white;
	font-size: 40px;
	text-align: center;
	padding: 20%;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
